<div id="archive">
  <h1><%= __('archive.title') %></h1>
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% page.posts.sort('date', 'desc').each(function(post) { %>
      <% var itemYear = date(post.date, 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <h2><%= year %></h2>
      <% } %>
      <li class="post-item">
        <article class="post-item-box">
          <% if (post.cover) { %>
            <section class="post-item--cover" style="background-image: url(<%- post.cover %>);"></section>
          <% } %>
          <section class="post-item--content">
            <%- partial('_partial/post/title', { post: post, index: true, class_name: 'post-title' }) %>
            <%- partial('_partial/post/tag', { page: post, class_name: 'post-tags' }) %>
            <%- partial('_partial/post/description', { post: post, class_name: 'post-description' }) %>
          </section>
        </article>
      </li>
    <% }); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
